bind_ws_addr = "0.0.0.0:8080"
rpc_http_url = "http://mango.rpcpool.com/<token>"
mango_group = "EPmFN4MZHUiLJwcwmmEH2rXTy4J8jMipJUz7iSbV9KWu"

[metrics]
output_stdout = true
output_http = true

[source]
dedup_queue_size = 50000
rpc_ws_url = "wss://mango.rpcpool.com/<token>"

[[source.grpc_sources]]
name = "accountsdb-client"
connection_string = "http://tyo64.rpcpool.com/"
retry_connection_sleep_secs = 30

[source.snapshot]
rpc_http_url = "http://mango.rpcpool.com/<token>"
program_id = "LEH4u6EgtyVzqtwK1eB6fdgxJHX7HuARvgNdXKubw2h"
